@font-face { font-family: yoster; src: url(../font/yoster/yoster.ttf);} 
head,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    font-family: yoster;
    background-image: radial-gradient(circle at 50% 50%, #000000, #ffffff00 50%, #000000 100%);
    background-color: #000000;
}
a{
    text-decoration: underline;
    color: white;
}

div{
    width: 90%;
    margin: auto;
}


div a{
    width: 49%;
    display: inline-block;
    text-decoration: none;
    margin: .3%;
}
div a:hover{
    animation: xd 0.5s forwards;
}
div a:not(:hover){
    animation: xdd 0.5s forwards;
}
img{
    width: 100%;
    border-radius: 10px;
}


@keyframes xd {
    from {
        filter: blur(2px) grayscale(100%);
    }
    to {
        filter: blur(0px) grayscale(0%);
    }
}
@keyframes xdd {
    from {
        filter: blur(0px) grayscale(0%);
    }
    to {
        filter: blur(2px) grayscale(100%);
    }
}


@media screen and (max-width:900px) {
    div>a{
        width: 100%;
        margin:20px 0px 20px 0px;
    }
    
    @keyframes xd {
        from {
            filter: grayscale(100%);
        }
        to {
            filter: grayscale(0%);
        }
    }
    @keyframes xdd {
        from {
            filter: grayscale(0%);
        }
        to {
            filter: grayscale(100%);
        }
    }
}