@font-face { font-family: yoster; src: url(../font/yoster/yoster.ttf); } 
head,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    background-color: rgba(49, 44, 41);
    background-image: url(../img/AINTNEURWAY.gif);
    font-family: yoster;
    color: #F3E0EC;
}
.szerok{
    margin: 20px;
    
}
.hed{
    background-color: rgba(24, 85, 82, 0.8);
    font-size: 40px;
    font-weight: bold;
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 80px;
}
.men{
    background-color: rgb(24, 85, 82, 0.8); 
    margin-top: 10px;    
    font-size: 20px;
    width: 100%;
    padding-top: 10px;
}

    
.fot{
    background-color: rgb(24, 85, 82, 0.8);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 100%;
}
a{
    padding-left: 15px;
    color: inherit;
    
}
a:hover{
    color: rgb(195, 204, 146);
}
.przycisk{
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(140, 144, 145);
    background-image: url(../img/arrw.png);
}

@media screen and (max-width:700px){
    .szerok{
        margin: 1px;
    }
}