@font-face { font-family: yoster; src: url(../font/yoster/yoster.ttf);} 
head,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    font-family: yoster;
    background-color: #f3e0ecb4;
}
section{
    display: flex;

}
a{
    text-decoration: underline;
    color: black;
}
img{
    max-height: 90vh;
    max-width:100%;
    margin: auto;
}
section>a{
    width: 30%;
    height: 95%;
    margin: auto;
}
section a:hover{
    animation: xd 1s forwards;

    scale: 110%;
    transition-duration: 1s;
}

section a:not(:hover){
    animation: xdd 1s forwards;
}

.bby{
    width: 100%;
}

@keyframes xd {
    from {
        filter: grayscale(100%);
    }
    to {
        filter: grayscale(0%);
    }
}
@keyframes xdd {
    from {
        filter: grayscale(0%);
    }
    to {
        filter:grayscale(100%);
    }
}

@media screen and (max-width:900px){
    section{
        flex-direction: column;
    }
    img{
        max-width: 100vw;
        max-height: 33vh;
    }
    section a{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .bby{
        width: auto;
        height: 100%;
    }
}